
<div *ngIf="product">
    <h3>
        <a [title]="product.name + ' details'"
           [routerLink]="['/products', product.id]"
        >
            {{product.name}}
        </a>
    </h3>
    <app-product-item [product]="product"
    (remove)="PrRemove($event)"></app-product-item>
    <a href='{{product.link}}' >
        <button type="button" class="btn">Link </button></a>
    <app-like></app-like>
    <a href="{{product.href}}"><button type="button" (click)="share()">
        Share via tg
    </button></a>
    <app-product-alerts [product]="product" (notify)="onNotify()">
    </app-product-alerts>

</div>